<!DOCTYPE html>
<html>
<head>
  <title>InteralFullMountableGem</title>
  <%= stylesheet_link_tag    "interal_full_mountable_gem/application", media: "all" %>
  <%= javascript_include_tag "interal_full_mountable_gem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
